
<div class="center jumbotron">
    <h1>Welcome to Alpha-blog!!</h1>
    <p>In this page we will be creating our private blog and share with the World..</p>
    
    <%= link_to "Sign Up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
    
</div>



