<!DOCTYPE html>
<html>
<head>
<title>Alpha-blog</title>
</head>
<body>

<h1>Welcome to Alpha-blog!!</h1>
<p>In this page we will be creating our private blog and share with the World..</p>

<h2><%= link_to "Alpha-Blog", articles_path %></h2></br>
<h4><%= link_to "About Us", about_path %></h4>

</body>
</html>

